# Git
.git
.gitignore

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Dependencies
/node_modules
/vendor

# Environment
.env
.env.backup
.env.production

# Compilations
/public/build
/public/hot
mix-manifest.json

# Code Analysis
/tests
/phpunit.xml

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
